.article_container {
  padding: 12px;
  width: 80%;
  height: 200px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f2ddc3;
  position: relative;
}

.article_container h1 {
  margin-bottom: 7px;
  font-size: 20px;
}

.article_container p {
  margin-bottom: 10px;
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.article_btns {
  position: absolute;
  display: inline-block;
  bottom: 0;
}

.article_btns button {
  width: 100px;
  height: 30px;
  margin-right: 5px;
  background-color: #567b95;
  border: 1px solid #567b95;
}
