.acticleList {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  /* text-align: center; */
}

.articleList_top {
  margin-left: 80px;
}

.articleList_title {
  margin-bottom: 30px;
  font-size: 50px;
}

.newArticle_btn {
  /* width: 100px; */
  margin: 0;
  padding: 10px 10px 20px;
  height: 30px;
  /* line-height: 30px; */
  /* margin-right: 90px; */
}

/* another layout */
.noArticle_title {
  font-size: 60px;
  margin-bottom: 10px;
}
